{{ define "content" }}
<div class="jumbotron">
  <div class="container">
    <h2>{{ .Product.Name }}</h2>
    {{ if .AlreadyBought }}
      <h4>あなたはすでにこの商品を買っています</h4>
    {{ end }}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <img src="{{ .Product.ImagePath }}" class="img-responsive" width="400"/>
      <h2>価格</h2>
      <p>{{ .Product.Price }} 円</p>
      <h2>商品説明</h2>
      <p>{{ .Product.Description }}</p>
    </div>
  </div>
</div>
{{ end }}
