<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>すごいECサイト</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">すごいECサイトで爆買いしよう!</a>
    </div>
    <div class="header clearfix">
    <% if current_user %>
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/users/<%= current_user[:id] %>"><%= current_user[:name] %>さんの購入履歴</a></li>
          <li role="presentation"><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    <% else %>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/login">Login</a></li>
      </ul>
    </nav>
    <% end %>
  </div>
</nav>

<%== yield %>

</body>
</html>
